[submodule "ruby_install"]
	path = ruby_install
	url = git@github.com:SeanHolden/ruby_install.git
[submodule "git"]
	path = git
	url = git@github.com:SeanHolden/git.git
[submodule "dev_env"]
	path = dev_env
	url = git@github.com:SeanHolden/dev_env.git
[submodule "the_silver_searcher"]
	path = the_silver_searcher
	url = git@github.com:SeanHolden/the_silver_searcher.git
[submodule "npm"]
	path = npm
	url = git@github.com:SeanHolden/npm.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:SeanHolden/ohmyzsh.git
[submodule "ssh"]
	path = ssh
	url = git@github.com:SeanHolden/ssh.git
[submodule "vim"]
	path = vim
	url = git@github.com:SeanHolden/vim.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/seanholden/nginx
