[submodule "ruby_install"]
	path = ruby_install
	url = https://github.com/SeanHolden/ruby_install
[submodule "git"]
	path = git
	url = https://github.com/SeanHolden/git
[submodule "dev_env"]
	path = dev_env
	url = https://github.com/SeanHolden/dev_env
